footer {
  background-color: black;
  color: white;
  height: 209px;

  img {
    margin-top: 66px;
  }

  p {
    font-size: 24px;
    font-weight: 500;
    margin-top: 38px;
    letter-spacing: 0.5px;
  }
}

@media (width <= 610px) {
  footer {
    p {
      font-size: 12px;
      line-height: 1.4;
      margin: 7px auto;
      max-width: 120px;
    }
  }
}
