.notFoundTitle {
  font-size: 288px;
  color: #ff6060;
  margin-top: 90px;
}

.notFoundParagraph {
  font-size: 36px;
  font-weight: 500;
  color: #ff6060;
  margin-top: 100px;
  letter-spacing: 0.2px;
}

@media (width <= 850px) {
  .notFoundTitle {
    font-size: 200px;
  }
}

@media (width <= 576px) {
  .notFoundTitle {
    font-size: 96px;
    margin-top: 105px;
  }

  .notFoundParagraph {
    font-size: 18px;
    margin-top: 105px;
    line-height: 1.3;
  }
}
