.notFoundTitle {
  font-size: 300px;
  color: #ff6060;
  margin-top: 80px;
}

.notFoundParagraph {
  font-size: 36px;
  font-weight: 500;
  color: #ff6060;
  margin-top: 95px;
}

@media (width <= 576px) {
  .notFoundTitle {
    font-size: 100px;
    margin-top: 100px;
  }

  .notFoundParagraph {
    font-size: 18px;
    margin-top: 105px;
  }
}
