.notFoundLink {
  margin-top: 142px;
  margin-bottom: 140px;
  a {
    font-size: 18px;
    font-weight: 500;
    color: black;
  }
}

@media (width <= 576px) {
  .notFoundLink {
    margin-top: 115px;
    margin-bottom: 115px;
    a {
      font-size: 14px;
    }
  }
}
